*.py[cod]
.*.swp
*~
build/
dist/
doc/_build
docker/base-local/ivre.tar
docker/ivre-share
docker/var_lib_mongodb
docker/dokuwiki_data
ivre/VERSION
ivre.egg-info/
tests/samples*
tests/htmlcov*
tests/.coverage
web/static/doc/.buildinfo
web/static/doc/objects.inv
