black
bottle
codespell
cryptography
docutils!=0.18
elasticsearch
elasticsearch-dsl
flake8
mypy
psycopg2
pylint
pymongo>=2.7.2
pyOpenSSL>=16.1.0
Sphinx
sphinxcontrib-httpdomain
sphinx_rtd_theme
sqlalchemy
tinydb
