bandit
black
bottle
codespell
cryptography<40.0.0
docutils!=0.18
elasticsearch
elasticsearch-dsl
flake8
mypy
psycopg2
pylint
pymongo>=3.7
pyOpenSSL>=16.1.0
rstcheck[sphinx]
Sphinx
sphinxcontrib-httpdomain
sphinx_rtd_theme
sphinx-lint
sqlalchemy<2
tinydb
