<!--
  This file is part of IVRE.
  Copyright 2011 - 2014 Pierre LALET <pierre.lalet@cea.fr>

  IVRE is free software: you can redistribute it and/or modify it
  under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  IVRE is distributed in the hope that it will be useful, but WITHOUT
  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
  or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public
  License for more details.

  You should have received a copy of the GNU General Public License
  along with IVRE. If not, see <http://www.gnu.org/licenses/>.
-->

<li class="nav-header"><i class="icon-filter"></i> Filter</li>
<form class="form-inline" onsubmit="window.location.hash = Array.prototype.slice.call(this.getElementsByTagName('input')).filter(function(p){return p.getAttribute('type') === 'text' && p.value;}).map(function(p){return p.value}).join(' ');" id="filters">
  <li ng-repeat="filter in filters">
    <div class="input-append">
      <input class="input-medium" type="text"
	     id="{{'filter' + filter.id}}"
	     name="{{'filter' + filter.id}}"
	     ng-model="filter.value"
	     placeholder="Add a criteria"/>
      <span class="add-on clickable"
	    onclick="this.parentNode.getElementsByTagName('input')[0].value=''; this.parentNode.parentNode.parentNode.onsubmit();"
	    ><i class="icon-remove"></i></span>
    </div>
  </li>
  <li>
    <div class="input-append">
      <input class="input-medium"
	     type="text"
	     id="filter-last"
	     name="filter-last"
	     placeholder="Add a criteria"
	     ng-model="lastfiltervalue"/>
      <span class="add-on clickable"
	    onclick="document.getElementById('filter-last').value=''; document.getElementById('filter-last').focus();"
	    ><i class="icon-remove"></i></span>
    </div>
    <input type="submit"
	   tabindex="-1"
	   style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
  </li>
</form>
<li class="divider"></li>
<li class="nav-header"><i class="icon-search"></i> Explore</li>
<li>
  <form class="form-inline" id="explore"
	onsubmit="build_top_chart(this);">
    <input type="text" placeholder="Top values"
	   class="input-medium"
	   data-provide="typeahead"
	   data-items="6"
	   data-source="{{topvalues}}"
	   />
  </form>
</li>
<li>
  <div class="btn-group btn-group-vertical">
    <button class="btn btn-with-input-medium"
	    ng-click="build_ip_plane()"
	    ng-class="{disabled: totalnbrres == undefined}"
	    >Address space</button>
  </div>
</li>
<li>
  <div style="margin-top: 10px;" class="btn-group btn-group-vertical">
    <button class="btn btn-with-input-medium"
	    ng-click="build_ip_map()"
	    >Map</button>
  </div>
</li>
<li>
  <div style="margin-top: 10px;" class="btn-group btn-group-vertical">
    <button class="btn btn-with-input-medium"
	    ng-click="build_ip_timeline()"
	    ng-class="{disabled: totalnbrres == undefined}"
	    >Timeline</button>
  </div>
</li>
<li>
  <div style="margin-top: 10px;" class="btn-group btn-group-vertical">
    <button class="btn btn-with-input-medium"
	    ng-click="build_ip_timeline(86400)"
	    ng-class="{disabled: totalnbrres == undefined}"
	    >Timeline (24h)</button>
  </div>
</li>
