<!--
  This file is part of IVRE.
  Copyright 2011 - 2015 Pierre LALET <pierre.lalet@cea.fr>

  IVRE is free software: you can redistribute it and/or modify it
  under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  IVRE is distributed in the hope that it will be useful, but WITHOUT
  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
  or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public
  License for more details.

  You should have received a copy of the GNU General Public License
  along with IVRE. If not, see <http://www.gnu.org/licenses/>.
-->

<dt class="result-cpe">
  CPE (Common Platform Enumeration)
</dt>
<dd>
  <div class="container-fluid" ng-if="::host.cpes">
    <div class="row result-cpe-item"
         ng-repeat="type in ::get_reshaped_cpes(host).data">
      <div class="col-md-1">
        <a class="clickable" ng-click="set_cpe_param(type)">
          {{::type.pretty_name}}
        </a>
      </div>
      <div class="col-md-11">
        <div class="row result-cpe-item"
             ng-repeat="vendor in ::type.data">
          <div class="col-md-3">
            <a class="clickable" ng-click="set_cpe_param(type, vendor)">
              {{::vendor.pretty_name}}
            </a>
          </div>
          <div class="col-md-9">
            <div class="row result-cpe-item"
                 ng-repeat="product in ::vendor.data">
              <div class="col-md-7">
                <a class="clickable"
                   ng-click="set_cpe_param(type, vendor, product)">
                  {{::product.pretty_name}}
                </a>
              </div>
              <div class="col-md-5">
                <div class="row result-cpe-item"
                     ng-repeat="version in ::product.data">
                  <div class="col-md-12">
                    <a
                       data-html="true"
                       data-title="{{::version.tooltitle}}"
                       data-content="{{::version.toolcontent}}"
		       data-container="body"
                       class="clickable"
                       ng-click="set_cpe_param(type, vendor, product, version)"
                       popover>
                      {{::version.pretty_name}}
		    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</dd>
