<!--
  This file is part of IVRE.
  Copyright 2011 - 2015 Pierre LALET <pierre.lalet@cea.fr>

  IVRE is free software: you can redistribute it and/or modify it
  under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  IVRE is distributed in the hope that it will be useful, but WITHOUT
  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
  or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public
  License for more details.

  You should have received a copy of the GNU General Public License
  along with IVRE. If not, see <http://www.gnu.org/licenses/>.
-->

<a class="clickable"
   ng-click="setparam(port.protocol + '/' + port.port)"
   ng-class="{highlight: wanted_port(port.state_state, port.protocol, port.port)}"
   >{{::port.protocol}}/{{::port.port}}</a>
<span class="label label-status"
      ng-class="class_from_port_status(port.state_state)">
  {{::port.state_state | uppercase}}
</span>
<span class="dtnormal" title="ttl: {{::port.state_reason_ttl}}">
  {{::port.state_reason}}
</span>
<span class="dtnormal result-url" title="URL">
  <code>
    {{::url_from_port(port, host.addr)}}
  </code>
</span>
<img ng-if="::port.screenshot == 'field'"
     src="data:image/jpeg;base64,{{::port.screendata}}"
     class="screenshot"
     alt="Screenshot for port {{::port.port}}"/>
