version: '3'
services:
  ivredb:
    image: mongo
    volumes:
      - ./var_lib_mongodb:/var/lib/mongodb
      - ./var_log_mongodb:/var/log/mongodb
      - ./var_lib_neo4j:/var/lib/neo4j/data
      # v3
      #- var_lib_neo4j:/var/lib/neo4j
      - ./var_log_neo4j:/var/log/neo4j
    restart: always
  ivreweb:
    image: ivre/web 
    restart: always	
    ports:
      - "80:80"
    depends_on:
      - ivredb
  ivreclient:
    image: ivre/client
    volumes:
      - ./ivre-share:/ivre-share
    depends_on:
      - ivredb