# This file is part of IVRE.
# Copyright 2011 - 2024 Pierre LALET <pierre@droids-corp.org>
#
# IVRE is free software: you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# IVRE is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
# or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public
# License for more details.
#
# You should have received a copy of the GNU General Public License
# along with IVRE. If not, see <http://www.gnu.org/licenses/>.

name: PostgreSQL tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.7', '3.12']
        postgresql-version: ['12', '13']

    steps:

    - name: Git checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Use Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Start PostgreSQL
      uses: harmon758/postgresql-action@v1
      with:
        postgresql version: ${{ matrix.postgresql-version }}
        postgresql db: ivre
        postgresql user: ivre
        postgresql password: ivre

    - run: pip install -r requirements-postgres.txt

    - name: Install IVRE
      uses: ./.github/actions/install

    - run: psql "postgresql://ivre:ivre@localhost/ivre" -c "SELECT version();"

    - run: echo 'DB = "postgresql://ivre:ivre@localhost/ivre"' >> ~/.ivre.conf

    - name: Initialize IVRE databases
      run: for cli in ipinfo scancli view; do ivre $cli --init < /dev/null; done

    - run: cd tests && python tests.py
      env:
        CI: true
        DB: postgres

    - run: cat /tmp/webserver.log
      if: failure()
